* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0;
}


body {
    font-family: sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(222, 220, 224);
}
.main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    margin: 10px 20px;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.leftpart {
    width: 40%;
}
h1{
    color: royalblue;
    font-size: 80px;
}

h3{
    color: black;
    font-size: 30px;
}

.rightpart {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 370px;
    box-shadow: -10px -10px 15px rgba(0, 0, 0, 0.1), 10px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}
input {
    width: 380px;
    height: 50px;
    margin: 10px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 18px;
    border-radius: 10px;
}
input[type="submit"] {
    background-color: royalblue;
    color: white;
}

p{
    color: royalblue;
}

hr{
    border: 1px solid #ccc;
    width: 320px;
    margin: 20px ;
}

.createaccount {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: green;
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: 30px;
    color: white;
    border-radius: 10px;
}

span {
    margin: 20px;
    font-size: 18px;
    font-weight: 20px;
}

.footer {
    width: 100%;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Helvetica, Arial, sans-serif;
    flex-shrink: 0;
}

.footerlanguages, .footerlinks,.footermeta {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
}

.footerlanguages {
    padding-bottom: 8px;
    border-bottom: 1px solid #dddfe2;
    margin-bottom: 8px;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: #8a8d91;
    font-size: 12px;
    margin-right: 11px;
    line-height: 1.6;
}

.footer a:hover {
    text-decoration: underline;
}

.footerlanguages button {
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    color: #4b4f56;
    padding: 0 8px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2px;
}

.footerlinks {
    margin-top: 8px;
}

.footermeta {
    margin-top: 20px;
}

.footermeta span {
    color: #737373;
    font-size: 11px;
}